body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:205px;
  width:320px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:225px;
  width:320px;
  height:141px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:141px;
}
#u3 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:205px;
  width:320px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:385px;
  width:320px;
  height:170px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:78px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:234px;
  top:517px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:234px;
  top:405px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:234px;
  top:463px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:208px;
  top:439px;
  width:302px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u15 {
  position:absolute;
  left:208px;
  top:495px;
  width:302px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u16 {
  position:absolute;
  left:200px;
  top:405px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:463px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:517px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:472px;
  top:401px;
  width:27px;
  height:27px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:472px;
  top:459px;
  width:27px;
  height:27px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:472px;
  top:517px;
  width:27px;
  height:27px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:190px;
  top:571px;
  width:320px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:172px;
}
#u29 {
  position:absolute;
  left:2px;
  top:79px;
  width:316px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:234px;
  top:703px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:234px;
  top:591px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:234px;
  top:649px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:208px;
  top:625px;
  width:302px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u37 {
  position:absolute;
  left:208px;
  top:681px;
  width:302px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u38 {
  position:absolute;
  left:200px;
  top:591px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:200px;
  top:649px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:200px;
  top:703px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:472px;
  top:587px;
  width:27px;
  height:27px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:472px;
  top:645px;
  width:27px;
  height:27px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:472px;
  top:703px;
  width:27px;
  height:27px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:190px;
  top:885px;
  width:320px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:265px;
  top:895px;
  width:20px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:401px;
  top:897px;
  width:20px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:397px;
  top:923px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:263px;
  top:921px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:214px;
  top:235px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:290px;
  top:289px;
  width:158px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:67px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:336px;
  top:277px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:270px;
  top:325px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:470px;
  top:229px;
  width:28px;
  height:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:620px;
  top:205px;
  width:320px;
  height:740px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:740px;
}
#u71 {
  position:absolute;
  left:2px;
  top:362px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:620px;
  top:225px;
  width:320px;
  height:141px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:141px;
}
#u73 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:620px;
  top:205px;
  width:320px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:3px;
  width:316px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:620px;
  top:385px;
  width:320px;
  height:170px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u77 {
  position:absolute;
  left:2px;
  top:78px;
  width:316px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:664px;
  top:517px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:664px;
  top:405px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:664px;
  top:463px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:638px;
  top:439px;
  width:302px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u85 {
  position:absolute;
  left:638px;
  top:495px;
  width:302px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u86 {
  position:absolute;
  left:630px;
  top:405px;
  width:20px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:630px;
  top:463px;
  width:20px;
  height:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:630px;
  top:517px;
  width:20px;
  height:20px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:902px;
  top:401px;
  width:27px;
  height:27px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:902px;
  top:459px;
  width:27px;
  height:27px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:902px;
  top:517px;
  width:27px;
  height:27px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:620px;
  top:571px;
  width:320px;
  height:172px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:172px;
}
#u99 {
  position:absolute;
  left:2px;
  top:79px;
  width:316px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:664px;
  top:703px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:664px;
  top:591px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:664px;
  top:649px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:638px;
  top:625px;
  width:302px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u107 {
  position:absolute;
  left:638px;
  top:681px;
  width:302px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u108 {
  position:absolute;
  left:630px;
  top:591px;
  width:20px;
  height:20px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:630px;
  top:649px;
  width:20px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:630px;
  top:703px;
  width:20px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:902px;
  top:587px;
  width:27px;
  height:27px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u115 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:902px;
  top:645px;
  width:27px;
  height:27px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u117 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:902px;
  top:703px;
  width:27px;
  height:27px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u119 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:620px;
  top:885px;
  width:320px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:695px;
  top:895px;
  width:20px;
  height:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:835px;
  top:897px;
  width:20px;
  height:20px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:831px;
  top:923px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:693px;
  top:921px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:645px;
  top:237px;
  width:78px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:900px;
  top:229px;
  width:28px;
  height:28px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:717px;
  top:295px;
  width:126px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u135 {
  position:absolute;
  left:2px;
  top:11px;
  width:122px;
  word-wrap:break-word;
}
