body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1015px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:110px;
  width:681px;
  height:913px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:913px;
}
#u1 {
  position:absolute;
  left:2px;
  top:448px;
  width:677px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:1023px;
  width:633px;
  height:637px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:637px;
}
#u3 {
  position:absolute;
  left:2px;
  top:310px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:1640px;
  width:987px;
  height:397px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:397px;
}
#u5 {
  position:absolute;
  left:2px;
  top:190px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
