body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:60px;
  width:320px;
  height:575px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
}
#u1 {
  position:absolute;
  left:2px;
  top:280px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:80px;
  width:320px;
  height:130px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:58px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:60px;
  width:320px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:630px;
  top:210px;
  width:320px;
  height:42px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:642px;
  top:209px;
  width:41px;
  height:38px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:696px;
  top:221px;
  width:225px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:630px;
  top:60px;
  width:320px;
  height:575px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
}
#u13 {
  position:absolute;
  left:2px;
  top:280px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:658px;
  top:155px;
  width:254px;
  height:334px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:334px;
}
#u15 {
  position:absolute;
  left:2px;
  top:160px;
  width:250px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:768px;
  top:512px;
  width:44px;
  height:44px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:734px;
  top:262px;
  width:109px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:152px;
  top:60px;
  width:328px;
  height:589px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:589px;
}
#u21 {
  position:absolute;
  left:2px;
  top:286px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
