body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:222px;
  top:158px;
  width:828px;
  height:372px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:372px;
}
#u1 {
  position:absolute;
  left:2px;
  top:178px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:361px;
  width:53px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:368px;
  top:190px;
  width:752px;
  height:360px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:360px;
}
#u5 {
  position:absolute;
  left:2px;
  top:172px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:194px;
  top:350px;
  width:164px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:390px;
  top:210px;
  width:53px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:390px;
  top:280px;
  width:705px;
  height:95px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:390px;
  top:238px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:434px;
  top:257px;
  width:66px;
  height:183px;
}
#u54_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u54_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:190px;
}
#u54_seg2 {
  position:absolute;
  left:-10px;
  top:160px;
  width:86px;
  height:20px;
}
#u54_seg3 {
  position:absolute;
  left:56px;
  top:160px;
  width:20px;
  height:27px;
}
#u55 {
  position:absolute;
  left:-50px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:470px;
  top:460px;
  width:440px;
  height:260px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:260px;
}
#u57 {
  position:absolute;
  left:2px;
  top:122px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:507px;
  top:502px;
  width:53px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:580px;
  top:492px;
  width:130px;
  height:38px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u61 {
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:507px;
  top:560px;
  width:53px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:580px;
  top:556px;
  width:130px;
  height:22px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u64_input:disabled {
  color:grayText;
}
#u65 {
  position:absolute;
  left:741px;
  top:551px;
  width:109px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:507px;
  top:610px;
  width:53px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:580px;
  top:610px;
  width:56px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:507px;
  top:650px;
  width:93px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:89px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:600px;
  top:680px;
  width:80px;
  height:153px;
}
#u73_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u73_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:167px;
}
#u74 {
  position:absolute;
  left:30px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:650px;
  top:851px;
  width:109px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:236px;
  top:1005px;
  width:862px;
  height:435px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:435px;
}
#u78 {
  position:absolute;
  left:2px;
  top:210px;
  width:858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:236px;
  top:70px;
  width:57px;
  height:15px;
  font-size:28px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:240px;
  top:940px;
  width:57px;
  height:15px;
  font-size:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:890px;
  top:1320px;
  width:-20px;
  height:130px;
}
#u83_seg0 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:34px;
  height:20px;
}
#u83_seg1 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:20px;
  height:144px;
}
#u84 {
  position:absolute;
  left:-70px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:851px;
  top:1471px;
  width:109px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:59px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:240px;
  top:910px;
  width:2020px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:2003px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2020px;
  height:1px;
}
#u88 {
  position:absolute;
  left:1460px;
  top:1040px;
  width:587px;
  height:594px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:594px;
}
#u89 {
  position:absolute;
  left:2px;
  top:289px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1641px;
  top:985px;
  width:91px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1480px;
  top:50px;
  width:91px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1403px;
  top:121px;
  width:587px;
  height:579px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:579px;
}
#u95 {
  position:absolute;
  left:2px;
  top:282px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
